

<!------------------------  with HTML  ------------------------>

<form class="form-horizontal" action="users/create" method="POST">
	
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<center>
<h1> FORMULAIRE </h1>

<hr>
<br>
<br>

<div class="form-group">
    <label class="control-label col-sm-10" for="username">Entrez votre pseudo:</label>
    <div class="col-sm-8">
    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
  </div>
</div>

<div class="form-group">
  	<label class="control-label col-sm-10" for="email">Entrez votre email : </label>
    <div class="col-sm-8">
  	<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
  </div>
</div>
     <!--  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 -->


<div class="form-group">
    <label class="control-label col-sm-10" for="Textarea">Votre Biographie :</label>
    <div class="col-sm-8">
    <textarea class="form-control" name="bio" id="Textarea" rows="3"></textarea>
  </div>
</div>


<button type="submit" class="btn btn-primary">Envoyer</button>

</center>
</form>




<!------------------------with form_tag------------------------>

<!-- <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Username' %><br />
      <%= text_field_tag 'username' %>
      <br /> <br />

      <%= label_tag 'Email' %><br />
      <%= email_field_tag 'email'%>
      <br /> <br />

      <%= label_tag 'Bio' %><br />
      <%= text_area_tag 'bio' %>
      <br /> <br />

      <%= submit_tag "Create Post" %>

    <% end %> -->
